@font-face {
  font-family: "BalsamiqSans";
  src: url("../fonts/BalsamiqSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BellotaText";
  src: url("../fonts/BellotaText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "BellotaText", sans-serif;
  font-size: 40px;
  color: #ffffff;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-reset {
  color: #ffffff;
  text-decoration: none;
}

.section {
  padding: 120px 0;
  background-color: #3f6485;
}

.section-bkg-img-right {
  position: relative;
  padding: 385px 0;
  background-color: #3f6485;
}
.section-bkg-img-right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 305px;
  height: 940px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-bkg-img-left {
  position: relative;
  padding: 385px 0;
  background-color: #3f6485;
}
.section-bkg-img-left::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 305px;
  height: 940px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  margin: 0;
  font-family: "BalsamiqSans", sans-serif;
  font-size: 64px;
}

.text {
  margin: 0;
}

.header {
  padding: 35px 0;
  background-color: #72a25d;
}
.header__nav {
  display: flex;
  justify-content: center;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__menu-item {
  margin-right: 55px;
  font-family: "BalsamiqSans", sans-serif;
  font-size: 36px;
}
.header__menu-item:last-child {
  margin-right: 0;
}

.hero {
  position: relative;
  padding: 120px 0 645px 0;
  background-color: #c0955b;
}
.hero::after {
  content: "";
  position: absolute;
  width: 1350px;
  height: 435px;
  background-image: url("../../img/hero/earth.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.hero__title {
  margin-bottom: 90px;
  text-align: center;
}
.hero__text {
  text-align: center;
}

.moon::after {
  background-image: url("../../img/moon/moon.png");
}
.moon__title {
  margin-bottom: 90px;
}

.sun::after {
  background-image: url("../../img/sun/sun.png");
}
.sun__title {
  margin-bottom: 90px;
  text-align: right;
}
.sun__text {
  text-align: right;
}

.mars::after {
  background-image: url("../../img/mars/mars.png");
}
.mars__title {
  margin-bottom: 90px;
}

.planets__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.planets__title {
  text-align: center;
  margin-bottom: 90px;
  font-size: 48px;
}
.planets__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 170px;
  width: 100%;
}
.planets__list {
  padding-left: 55px;
}
.planets__item {
  position: relative;
  margin-bottom: 10px;
}
.planets__item::before {
  content: "";
  position: absolute;
  left: -27px;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 100%;
}
.planets__item:last-child {
  margin-bottom: 0;
}
.planets__img {
  width: 315px;
  height: 315px;
}
.planets__text {
  text-align: center;
  max-width: 860px;
  color: #fcad42;
}

.photos {
  padding-bottom: 140px;
}
.photos__title {
  text-align: center;
  margin-bottom: 90px;
}
.photos__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
}
.photos__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.photos__img {
  border-radius: 10px;
  width: 426px;
  height: 320px;
}