@font-face {
  font-family: 'BalsamiqSans';
  src: url('../fonts/BalsamiqSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BellotaText';
  src: url('../fonts/BellotaText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
