$bismark-color: #3f6485;

.section {
  padding: 120px 0;
  background-color: $bismark-color;
}

.section-bkg-img-left {
  position: relative;
  padding: 385px 0;
  background-color: $bismark-color;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 305px;
    height: 940px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.section-bkg-img-right {
  position: relative;
  padding: 385px 0;
  background-color: $bismark-color;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 305px;
    height: 940px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.title {
  margin: 0;
  font-family: 'BalsamiqSans', sans-serif;
  font-size: 64px;
}

.text {
  margin: 0;
}
