@use 'fonts';
@use 'settings';
@use 'interface';

@use 'chunks/index/header';
@use 'chunks/index/hero';
@use 'chunks/index/moon';
@use 'chunks/index/sun';
@use 'chunks/index/mars';
@use 'chunks/index/planets';
@use 'chunks/index/photos';
@use 'chunks/index/footer';

@use 'chunks/about/about-hero';
@use 'chunks/about/warning';
@use 'chunks/about/about-footer';
