.footer {
  padding-bottom: 130px;

  &__title {
    text-align: center;
    margin-bottom: 90px;
    font-size: 48px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    font-size: 36px;
  }

  &__link {
    position: relative;
    font-size: 36px;
    color: #fcad42;
    transition: color 0.4s;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      border-top: 2px solid #fcad42;
      left: 0;
      bottom: -5px;
      transform: translateY(-50%);
      transition: border-top 0.4s;
    }

    &:hover {
      color: #ffffff;

      &::after {
        border-top: 2px solid #ffffff;
      }
    }
  }
}
