.header {
  padding: 35px 0;
  background-color: #72a25d;

  &__nav {
    display: flex;
    justify-content: center;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__menu-item {
    margin-right: 55px;
    font-family: 'BalsamiqSans', sans-serif;
    font-size: 36px;
    transition: color 0.4s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #fcad42;
    }
  }
}
