.planets {
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
    margin-bottom: 90px;
    font-size: 48px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 170px;
    width: 100%;
  }

  &__list {
    padding-left: 55px;
  }

  &__item {
    position: relative;
    margin-bottom: 10px;

    &::before {
      content: '';
      position: absolute;
      left: -27px;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 6px;
      height: 6px;
      background-color: #ffffff;
      border-radius: 100%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    width: 315px;
    height: 315px;
  }

  &__text {
    text-align: center;
    max-width: 860px;
    color: #fcad42;
  }
}
