.photos {
  padding-bottom: 140px;

  &__title {
    text-align: center;
    margin-bottom: 90px;
    font-size: 48px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__img {
    border-radius: 10px;
    width: 426px;
    height: 320px;
  }
}
