.about-hero {
  padding: 120px 0 370px 0;
  background-color: #c0955b;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
    margin-bottom: 90px;
    max-width: 850px;
  }

  &__text {
    text-align: center;
  }
}
