.about-footer {
  &__title {
    text-align: center;
    margin-bottom: 90px;
    font-size: 48px;
  }

  &__container-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contact {
    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: 15px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }

  &__link {
    color: #fcad42;
    transition: color 0.4s;

    &:hover {
      color: #ffffff;
    }
  }
}
